body {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;

  justify-content: center;
}

.header {
  width: 1440px;
  height: 768px;
  left: calc(50% - 1440px/2);

  text-align: center;
  background: url(../img/header-bg.png) no-repeat;
}

.logo__header {
  position: relative;
  margin: 40px 0 315px;

  font-size: 20px;
  text-transform: uppercase;
  color: #DADADA;
}

.triangle {
  position: absolute;
  bottom: 10%;
  right: 674px;

	border-width: 10px 8px 10px 0;
	border-color: transparent #00A4E5 transparent transparent;
	border-style: solid;
}


.text {
  margin: 0 auto;

  font-family: 'BebasNeueBold';
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 6px;

  color: #FFFFFF;

}

.sub__text {
  margin: 0 0 220px;

  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.lower__text {
  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 4px;
  text-align: center;

  font-family: 'Open Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
} 

.navbar {
  position: absolute;
  width: 1440px;
  height: 65px;
  top: 48em;

  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
}

.navbar__logo {
  padding: 0 250px;
  font-size: 20px;
  text-transform: uppercase;
  color: #DADADA,50%;
}

.navbar__triangle {
  position: absolute;
  bottom: 40%;
  left: 350px;

	border-width: 10px 8px 10px 0;
	border-color: transparent #00A4E5 transparent transparent;
	border-style: solid;
}

button {
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
}

.button-home {
  position: absolute;
  top: 20px;
  right: 620px;
} 

.button-about {
  position: absolute;
  top: 20px;
  right: 525px;
} 

.button-services {
  position: absolute;
  top: 20px;
  right: 422px;
} 

.button-work {
  position: absolute;
  top: 20px;
  right: 342px;
} 

.button-contact {
  position: absolute;
  top: 20px;
  right: 250px;
} 

.about {
  display: flex;
  flex-wrap: wrap;

  margin: 65px 0 120px;
  width: 940px;
  height: 345px;
}

.story {
  

  margin: 130px 0 0;
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.line__story {
  width: 64px;
  height: 1px;
  background: #00A4E5;
  border: none;
  margin: 10px auto 95px;
}

.text-john {
  display: flex;
  flex-wrap: wrap;
  width: 405px;
  height: 80px;
  margin: 0 0 30px;

  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: left;
}

.color__text-john {
  color: #00A4E5;
}

.text__john-lower {
  display: flex;
  flex-wrap: wrap;
  width: 405px;
  height: 115px;

  font-family: 'Open Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.2px;
  text-align: left;
  
  color: #48555B;

}

.about__image-pos{
  display: flex;
  flex-wrap: wrap;
}

.bitmap-image{
  width: 140px;
  height: 224px;
  margin-left: 1vw;
  padding: 14px 0 0 15px;
  text-align: left;
}

.bitmap-image--plan-bg{
  background: url(../img/table.png) no-repeat center;
}

.bitmap-image--manage-bg{
  background: url(../img/notebook.png) no-repeat center;
}

.bitmap-image--build-bg{
  background: url(../img/turnstile.jpg) no-repeat center;
}

.about__card-text{
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.services {
  display: flex;

  width: 940px;
  height: 446px;
  left: calc(50% - 940px/2);
  bottom: 1011px;
}

.services__title {
  width: 215px;
  height: 25px;
  margin: 120px 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  display: flex;
  align-items: flex-end;

  color: #48555B;
}

/* .line__title {
  width: 64px;
  height: 1px;
  background: #E72424;
  border: none;

  margin: 10px auto;
} */

.services__subtitle {
  margin: 110px 32px 0 155px;

  width: 405px;
  height: 40px;
  left: 355px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #48555B;

}

.service__title--button {
  margin: 110px auto;

  width: 150px;
  height: 40px;
  left: 0px;
  top: 0px;

  background: #00A4E5;
}

.service__title--button-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  color: #FFFFFF;
}
