@media (max-width: 768px) {

.wrap {
  width: 100%;
}

.nav {
  order: -1;
}

.menu__list{
  display: none;
}

.menu-btn {
  display: block;
}

.about__inform {
  width: 100%;
}

.we-image {
  width: 85vw;
  margin: 10px 0;
}

.services__text {
  width: 100%;
  margin-top: 4vh;
}

.button {
  width: 25vh;
  margin-top: 4vh;
}

.card {
  width: 100%;
  margin: 10px 0;
}

.newsletter {
  flex-direction: column;
}

.email {
  width: 45vw;
}

.button--newsletter {
  width: 46vw;
  margin: 0 auto;
}
  
.newsletter__content {
  flex-direction: column;
  margin-top: 1vh;
}

.company {
  width: 80vw;
}

.company__text {
  width: 100%;
}

.links {
  width: 80vw;
}

.links__list {
  justify-content: space-between;
  width: 100%;
  margin: 3vh 0 2vh;
  padding-right: 5vw;
}

.footer__head {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__contact__text {
  width: 70vw;
}

.contact__social-media {
  display: flex;
  
}

}



